.nav-links{
    display: flex;
    list-style: none;
    margin-top: 27px;
}

.nav-links li{
    margin-left: 35px;
    color: #fff;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
}




